/*
=imports
========*/
@import url( 'https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Montserrat:200,500,700,900'); /*
=variables
==========*/
$primaryColor: #121212;
$borderColor: #222;
$hoverColor: #ED2224;
$textColor: #FFF;
$primaryFont: 'Fira Sans', sans-serif;
$headingFont: 'Montserrat', sans-serif;
$primaryLineHeight: 1.5;
$primaryBorder: 3px solid #222;
$primaryHoverTransition: all 0.3s ease-in-out;
/*
=common
=======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-family: $primaryFont;
  font-weight: 200;
}

.text-red {
  color: $hoverColor;
}

.bordered-div {
  border-bottom: $primaryBorder;
  border-color: $borderColor;
}

.border-left {
  border-left: $primaryBorder;
}

.border-right {
  border-right: $primaryBorder;
}

.border-bottom {
  border-bottom: $primaryBorder;
}

.border-top {
  border-top: $primaryBorder;
}

.mp-right-zero {
  margin-right: 0;
  padding-right: 0;
}

.mp-left-zero {
  margin-left: 0;
  padding-left: 0;
}
/*
=root
=====*/
body {
  background-color: $primaryColor;
  font-family: $primaryFont;
  font-weight: 200;
  font-size: 18px;
  color: $textColor;
  line-height: $primaryLineHeight;
  padding-top: 50px;
  min-height: 100vh;
}
/*
=navbar
=======*/
.navbar-default {
  background-color: $primaryColor;
  border: none;
  border-bottom: $primaryBorder;
  border-color: $borderColor;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: $textColor;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: $hoverColor;
  transition: $primaryHoverTransition;
}
/*
=hero
=====*/
#hero {
  min-height: 95vh;
  text-align: center;
  font-size: 1.8em;

  .tagLine {
    font-family: $headingFont;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 3.5em;
    letter-spacing: 1px;
    color: $textColor;
    font-weight: 900;
    margin-bottom: 50px;
  }
}
/*
=intro
======*/
#intro {
  min-height: 100vh;
  text-align: center;

  .elx-logo-white {
    width: 70%;
    margin: 0 auto 1em;
  }

  .aboutText {
    text-align: center;
    font-weight: 200;
  }
}
/*
=fits
=====*/
.fits-sec-header {
  padding: 3em 0;
  text-align: center;

  h2 {
    font-weight: 700;
  }
}

#fits {
  .fits-building,
  .fits-description {
    height: 81vh;
    border-right: $primaryBorder;
  }

  .fits-building {
    border-left: $primaryBorder;
  }

  .fits-description {
    padding: 0;
  }

  .fits-building {
    img {
      width: 100%;
    }
  }

  .bmf,
  .pmf,
  .psf {
    height: 27vh;
    width: 100%;
    text-align: center;
    background: $primaryColor;
    .front, .back {
      height: 27vh;
    }
  }



  .pmf,
  .psf {
    border-bottom: $primaryBorder;
  }
}
/*
=stages
=======*/
#stages-s {
  padding: 200px 0;
  .company-building,
  .customer-creation,
  .customer-discovery,
  .customer-validation {
    text-align: center;
    margin-bottom: 2em;
  }

  .search {
    h3 {
      width: 100%;
      text-align: center;
      border-bottom: 3px solid #353535;
      line-height: 0.1em;
      margin: 10px 0 20px;
      opacity: 0;
      transition: $primaryHoverTransition;

      span {
        background: $primaryColor;
        padding: 0 10px;
      }
    }

    &:hover {
      h3 {
        opacity: 1;
      }
    }
  }

  #stg-des {
    height: 150px;
  }
}
/*
=faq
====*/
#faq {
  padding: 0;

  .qsn-container {
    padding: 0;
    height: 200px;

    .qsn-back,
    .qsn-front {
      height: 200px;
      width: 100%;
      text-align: center;
      padding: 1em;
    }

    .qsn-front {
      background: $primaryColor;
      border-right: $primaryBorder;
      border-left: $primaryBorder;
    }

    .qsn-front-e {
      border-left: none;
    }
  }
}
/*
=contact
========*/
#contact {
  min-height: 70vh;

  .cta {
    text-align: center;
    margin-bottom: 3em;
    padding: 2em 0;
    font-family: $primaryFont;
    font-weight: 400;
    color: $textColor;
    border: $primaryBorder;

    span {
      background: $hoverColor;
      padding: 0.3em;
      color: $textColor;
      cursor: pointer;
    }
  }

  .contact-form {
    padding: 0;

    .form-btn,
    input,
    textarea {
      width: 100%;
      border-radius: 0;
      background: none;
      outline: none;
      border: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border: $primaryBorder;
      outline: none;
      height: none;
      padding: 1.5em;
      font-size: 1em;
    }

    textarea {
      resize: none;
    }

    input:focus,
    textarea:focus {
      background: $textColor;
      color: $primaryColor;
    }

    .form-btn {
      padding: 0.5em;
    }
  }

}
/*
=contact-form
=============*/
#form-container {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  background: rgba(255,255,255,.1);
  background: url(../img/bg-blurry.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: none;
  .close-btn {
    position: absolute;
    right: 40px;
    top: 25px;
    color: $hoverColor;
    font-size: 2em;
    cursor: pointer;
  }
}
.contact-form {
  border: 3px solid $primaryColor;
  box-shadow: 0 0 15px 0 #000;
  background: $textColor;
}

.form-body {
  padding: 2em;
}

.form-group {
  margin-top: 2em;
  textarea {
    resize: none;
  }
}
.form-control {
  border: none;
  background: $textColor;
  border-radius: 0;
  font-size: 1em;
  padding: 1.5em 1em;
  color: $primaryColor;
  font-weight: 300;
  border: 1px solid rgba(0,0,0,.2);
  color: $primaryColor;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.5);
  }
}

form .btn {
  width: 100%;
  border: none;
  border-radius: 0;
  background: $primaryColor;
  color: $textColor;
  font-size: 1.5em;
  padding: 0.5em 0;
  transition: all ease-in-out 0.3s;
  font-family: $primaryFont;
  font-weight: 300;
  margin-bottom: 1em;
}

.btn:hover {
  background: #000;
  color: $hoverColor;
}


h3.bordered-title {
  margin: 1.5em 0;
}

.bordered-title, .form-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $primaryColor;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
        background: $textColor;
        padding: 0 10px;
        font-size: 0.8em;
        text-transform: uppercase;
        color: $primaryColor;
        font-weight: 400;
    }
}

.social {
    list-style: none;
  margin: 0;
  padding: 2em 0;
  padding-bottom: 3em;
  text-align: center;
}

.social li {
  display: inline-block;
}

.social li a {
  color: #e6dcdb;
  font-size: 1em;
  margin-right: 0.5em;
  padding: 1em 1.2em;
  transition: all ease-in-out 0.3s;
}

.facebook {
  background: #46629E;
}

.c-twitter {
  background: #1DA1F2;
}

a.facebook {
  padding: 1em 1.3em !important;
}

a.google-plus {
  padding: 1em  !important;
}

a.tumblr {
 padding: 1em 1.3em !important;
}

.c-linkedin {
  background: #0077B5;
}

.c-medium {
  background: #02B875;
}

.c-instagram {
  background: #262626;
}

.facebook:hover,
.c-twitter:hover,
.c-linkedin:hover,
.c-medium:hover,
.c-instagram:hover {
  border: 1px solid rgba(60,55,65,0.3);
  background: $textColor;
 }

.facebook:hover {
  color: #46629E;
}

.c-twitter:hover {
  color: #1DA1F2;
}

.c-linkedin:hover {
  color: #0077B5;
}

.c-medium:hover {
  color: #36465D;
}

.c-instagram:hover {
  color: #262626;
}

/*
=map
====*/
.map-container {
  position: relative;

  .seal,
  .tag {
    position: absolute;
    bottom: 50px;
    width: 300px;
  }

  .tag {
    left: 100px;
    bottom: 120px;
  }

  .seal {
    right: 100px;
  }
  .social-link {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 0.5em;
      &:last-child{
        margin-right: 0;
      }
      a {
        padding: .5em .7em;
        font-size: 1.5em;
        color: $textColor;
        border: 1px solid $textColor;
        background: $primaryColor;
        transition: $primaryHoverTransition;
        .fa-facebook {
          padding: 0 .2em;
        }
      }
      a.fbook:hover {
        background: #46629E;
      }
      a.twitter:hover {
        background: #1DA1F2;
      }
      a.linkedin:hover {
        background: #0077B5;
      }
      a.medium:hover {
        background: #02B875;
      }
      a.instagram:hover {
        background: #262626;
      }
    }
  }
}

#map {
  min-height: 70vh;
  border-top: 3px solid #000;
}
