/*
=imports
========*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Montserrat:500,700");
/*
=variables
==========*/
/*
=common
=======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.h1, .h2, .h3, .h4,
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

.text-red {
  color: #ED2224;
}

.bordered-div {
  border-bottom: 3px solid #353535;
  border-color: #111;
}

.border-left {
  border-left: 3px solid #353535;
}

.border-right {
  border-right: 3px solid #353535;
}

.border-bottom {
  border-bottom: 3px solid #353535;
}

.border-top {
  border-top: 3px solid #353535;
}

.mp-right-zero {
  margin-right: 0;
  padding-right: 0;
}

.mp-left-zero {
  margin-left: 0;
  padding-left: 0;
}

/*
=root
=====*/
#root {
  background-color: #181A1E;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #E0E0E0;
  line-height: 1.5;
  padding-top: 50px;
  min-height: 100vh;
}

/*
=navbar
=======*/
.navbar-default {
  background-color: #181A1E;
  border-bottom: 3px solid #353535;
  border-color: #111;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand {
  color: #E0E0E0;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ED2224;
  transition: all 0.3s ease-in-out;
}

/*
=hero
=====*/
#hero {
  min-height: 92vh;
  text-align: center;
  border-left: 3px solid #353535;
  border-right: 3px solid #353535;
  font-size: 1.3em;
}

#hero .tagLine {
  text-transform: uppercase;
  line-height: .9;
  font-size: 4em;
  letter-spacing: -2px;
  color: #E0E0E0;
}

/*
=intro
======*/
#intro {
  min-height: 100vh;
  text-align: center;
}

#intro .elx-logo-white {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
}

#intro .aboutText {
  text-align: center;
  font-weight: 500;
}

/*
=fits
=====*/
.fits-sec-header {
  padding: 2em 0;
  text-align: center;
}

#fits .fits-building,
#fits .fits-description {
  height: 72vh;
  border-right: 3px solid #353535;
}

#fits .fits-building {
  border-left: 3px solid #353535;
}

#fits .fits-description {
  padding: 0;
}

#fits .fits-building img {
  width: 100%;
}

#fits .psf, #fits .pmf, #fits .bmf {
  height: 24vh;
  width: 100%;
  text-align: center;
}

#fits .psf:hover, #fits .pmf:hover, #fits .bmf:hover {
  color: #282828;
}

#fits .psf, #fits .pmf {
  border-bottom: 3px solid #353535;
}

/*
=stages
=======*/
#stages .customer-discovery, #stages .customer-validation, #stages .customer-creation, #stages .company-building {
  min-height: 70vh;
  text-align: center;
}

/*
=faq
====*/
#faq {
  padding: 0;
}

#faq .q-div {
  border-bottom: 3px solid #353535;
  border-right: 3px solid #353535;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  padding-left: 0;
}

#faq .q-div:hover .flipper, #faq .q-div.hover .flipper{
  transform: rotateY(180deg);
}

#faq .q-div, .q-front, .q-back {
  height: 200px;
  text-align: center;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.q-front, .q-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
}

.q-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  text-align: center;
}

.q-back {
  font-size: 14px;
  background: #E0E0E0;
  color: #353535;
  padding: 0 1.5em;
	transform: rotateY(180deg);
}

#faq .questions {
  width: 100%;
  text-align: center;
  margin: 0;
}

#faq:nth-child(2n+1) {
  border-left: 3px solid #353535;
  padding-left: 0;
}

#faq .more-q {
  color: #ED2224;
}

/*
=contact
========*/
#contact {
  padding-bottom: 5em;
}

#contact .contact-form {
  padding: 0;
}

#contact .contact-form input, #contact .contact-form textarea, #contact .contact-form .form-btn {
  width: 100%;
  border-radius: 0;
  background: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 3px solid #353535;
  outline: none;
  height: none;
  padding: 1.5em;
  font-size: 1em;
}

#contact .contact-form textarea {
  resize: none;
}

#contact .contact-form input:focus, #contact .contact-form textarea:focus {
  background: #E0E0E0;
  color: #181A1E;
}

#contact .contact-form .form-btn {
  padding: .5em;
}

#contact .social-media {
  margin-top: 1em;
  padding: 0;
}

#contact .social-media-title {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #353535;
  line-height: .1em;
  margin: 10px 0 20px;
}

#contact .social-media-title span {
  background:#181A1E;
  padding:0 10px;
}

#contact .social-media a {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1em 0;
  border: 3px solid #353535;
  color: #E0E0E0;
  font-size: 1.5em;
}

#contact .social-media a:hover .fa-facebook {
  color: #46629E;
}
#contact .social-media a:hover .fa-twitter {
  color: #1DA1F2;
}
#contact .social-media a:hover .fa-linkedin {
  color: #0077B5;
}
#contact .social-media a:hover .fa-medium {
  color: #02B875;
}
/*
=map
====*/
#map {
  min-height: 50vh;
}
