/*
=imports
========*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Montserrat:200,500,700,900");
/*
=variables
==========*/
/*
=common
=======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

.text-red {
  color: #ED2224;
}

.bordered-div {
  border-bottom: 3px solid #222;
  border-color: #222;
}

.border-left {
  border-left: 3px solid #222;
}

.border-right {
  border-right: 3px solid #222;
}

.border-bottom {
  border-bottom: 3px solid #222;
}

.border-top {
  border-top: 3px solid #222;
}

.mp-right-zero {
  margin-right: 0;
  padding-right: 0;
}

.mp-left-zero {
  margin-left: 0;
  padding-left: 0;
}

/*
=root
=====*/
body {
  background-color: #121212;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #FFF;
  line-height: 1.5;
  padding-top: 50px;
  min-height: 100vh;
}

/*
=navbar
=======*/
.navbar-default {
  background-color: #121212;
  border: none;
  border-bottom: 3px solid #222;
  border-color: #222;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ED2224;
  transition: all 0.3s ease-in-out;
}

/*
=hero
=====*/
#hero {
  min-height: 95vh;
  text-align: center;
  font-size: 1.8em;
}

#hero .tagLine {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 3.5em;
  letter-spacing: 1px;
  color: #FFF;
  font-weight: 900;
  margin-bottom: 50px;
}

/*
=intro
======*/
#intro {
  min-height: 100vh;
  text-align: center;
}

#intro .elx-logo-white {
  width: 70%;
  margin: 0 auto 1em;
}

#intro .aboutText {
  text-align: center;
  font-weight: 200;
}

/*
=fits
=====*/
.fits-sec-header {
  padding: 3em 0;
  text-align: center;
}

.fits-sec-header h2 {
  font-weight: 700;
}

#fits .fits-building,
#fits .fits-description {
  height: 81vh;
  border-right: 3px solid #222;
}

#fits .fits-building {
  border-left: 3px solid #222;
}

#fits .fits-description {
  padding: 0;
}

#fits .fits-building img {
  width: 100%;
}

#fits .bmf,
#fits .pmf,
#fits .psf {
  height: 27vh;
  width: 100%;
  text-align: center;
  background: #121212;
}

#fits .bmf .front, #fits .bmf .back,
#fits .pmf .front,
#fits .pmf .back,
#fits .psf .front,
#fits .psf .back {
  height: 27vh;
}

#fits .pmf,
#fits .psf {
  border-bottom: 3px solid #222;
}

/*
=stages
=======*/
#stages-s {
  padding: 200px 0;
}

#stages-s .company-building,
#stages-s .customer-creation,
#stages-s .customer-discovery,
#stages-s .customer-validation {
  text-align: center;
  margin-bottom: 2em;
}

#stages-s .search h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #353535;
  line-height: 0.1em;
  margin: 10px 0 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#stages-s .search h3 span {
  background: #121212;
  padding: 0 10px;
}

#stages-s .search:hover h3 {
  opacity: 1;
}

#stages-s #stg-des {
  height: 150px;
}

/*
=faq
====*/
#faq {
  padding: 0;
}

#faq .qsn-container {
  padding: 0;
  height: 200px;
}

#faq .qsn-container .qsn-back,
#faq .qsn-container .qsn-front {
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 1em;
}

#faq .qsn-container .qsn-front {
  background: #121212;
  border-right: 3px solid #222;
  border-left: 3px solid #222;
}

#faq .qsn-container .qsn-front-e {
  border-left: none;
}

/*
=contact
========*/
#contact {
  min-height: 70vh;
}

#contact .cta {
  text-align: center;
  margin-bottom: 3em;
  padding: 2em 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #FFF;
  border: 3px solid #222;
}

#contact .cta span {
  background: #ED2224;
  padding: 0.3em;
  color: #FFF;
  cursor: pointer;
}

#contact .contact-form {
  padding: 0;
}

#contact .contact-form .form-btn,
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  border-radius: 0;
  background: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 3px solid #222;
  outline: none;
  height: none;
  padding: 1.5em;
  font-size: 1em;
}

#contact .contact-form textarea {
  resize: none;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  background: #FFF;
  color: #121212;
}

#contact .contact-form .form-btn {
  padding: 0.5em;
}

/*
=contact-form
=============*/
#form-container {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  background: rgba(255, 255, 255, 0.1);
  background: url(../img/bg-blurry.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: none;
}

#form-container .close-btn {
  position: absolute;
  right: 40px;
  top: 25px;
  color: #ED2224;
  font-size: 2em;
  cursor: pointer;
}

.contact-form {
  border: 3px solid #121212;
  box-shadow: 0 0 15px 0 #000;
  background: #FFF;
}

.form-body {
  padding: 2em;
}

.form-group {
  margin-top: 2em;
}

.form-group textarea {
  resize: none;
}

.form-control {
  border: none;
  background: #FFF;
  border-radius: 0;
  font-size: 1em;
  padding: 1.5em 1em;
  color: #121212;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #121212;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form .btn {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #121212;
  color: #FFF;
  font-size: 1.5em;
  padding: 0.5em 0;
  transition: all ease-in-out 0.3s;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
}

.btn:hover {
  background: #000;
  color: #ED2224;
}

h3.bordered-title {
  margin: 1.5em 0;
}

.bordered-title, .form-title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #121212;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.bordered-title span, .form-title span {
  background: #FFF;
  padding: 0 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #121212;
  font-weight: 400;
}

.social {
  list-style: none;
  margin: 0;
  padding: 2em 0;
  padding-bottom: 3em;
  text-align: center;
}

.social li {
  display: inline-block;
}

.social li a {
  color: #e6dcdb;
  font-size: 1em;
  margin-right: 0.5em;
  padding: 1em 1.2em;
  transition: all ease-in-out 0.3s;
}

.facebook {
  background: #46629E;
}

.c-twitter {
  background: #1DA1F2;
}

a.facebook {
  padding: 1em 1.3em !important;
}

a.google-plus {
  padding: 1em  !important;
}

a.tumblr {
  padding: 1em 1.3em !important;
}

.c-linkedin {
  background: #0077B5;
}

.c-medium {
  background: #02B875;
}

.c-instagram {
  background: #262626;
}

.facebook:hover,
.c-twitter:hover,
.c-linkedin:hover,
.c-medium:hover,
.c-instagram:hover {
  border: 1px solid rgba(60, 55, 65, 0.3);
  background: #FFF;
}

.facebook:hover {
  color: #46629E;
}

.c-twitter:hover {
  color: #1DA1F2;
}

.c-linkedin:hover {
  color: #0077B5;
}

.c-medium:hover {
  color: #36465D;
}

.c-instagram:hover {
  color: #262626;
}

/*
=map
====*/
.map-container {
  position: relative;
}

.map-container .seal,
.map-container .tag {
  position: absolute;
  bottom: 50px;
  width: 300px;
}

.map-container .tag {
  left: 100px;
  bottom: 120px;
}

.map-container .seal {
  right: 100px;
}

.map-container .social-link {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.map-container .social-link li {
  display: inline-block;
  margin-right: 0.5em;
}

.map-container .social-link li:last-child {
  margin-right: 0;
}

.map-container .social-link li a {
  padding: .5em .7em;
  font-size: 1.5em;
  color: #FFF;
  border: 1px solid #FFF;
  background: #121212;
  transition: all 0.3s ease-in-out;
}

.map-container .social-link li a .fa-facebook {
  padding: 0 .2em;
}

.map-container .social-link li a.fbook:hover {
  background: #46629E;
}

.map-container .social-link li a.twitter:hover {
  background: #1DA1F2;
}

.map-container .social-link li a.linkedin:hover {
  background: #0077B5;
}

.map-container .social-link li a.medium:hover {
  background: #02B875;
}

.map-container .social-link li a.instagram:hover {
  background: #262626;
}

#map {
  min-height: 70vh;
  border-top: 3px solid #000;
}
